POSTGRES_USER= postgres
POSTGRES_PASSWORD= postgres
POSTGRES_DB= baha

DATABASE_URL= postgresql://postgres:postgres@db:5432/baha

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app